body {
text-decoration: double;
background-color: rgb(199, 0, 0);
color: rgb(212, 212, 1);
font-size: larger;
font-family:sans-serif;
text-align: center;
}

.form-section {
border-radius: 10px;
border: 0;
font-weight: 500;
}

img {

  height: 300px;
  width: 400px;
}